<!DOCTYPE HTML>
<html>
    <head>
        <title>Mood Sleuth</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body class="is-preload">

        <div class="pagecover"></div>
        <div class="bgcover"></div>
        <video autoplay muted loop id="videobg">
            <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
        </video>

        <div id="wrapper">
            <!-- LOADING -->
            <div id="loading" class="hidden">
                <p>Processing, please wait...</p>
            </div>

            <!-- HEADER -->
            <header id="adjustMargin">
                <div id="getHeight" class="title">
                    <h1><a href="/">Mood Sleuth</a></h1>
                    <p>a sentiment analysis tool.</p>
                </div>
                <div class="content">
                    <div class="inner" id="squish">
                        <p>Input text below for analysis.</p>

                        <!-- TEXT INPUT -->
                        <form id="textForm" action="/" method="post">
                            <textarea name="text_input" rows="4"></textarea>
                            <input type="submit" value="Analyze Text">
                        </form>

                        <!-- text input results -->
                        <div id="textResult" class="results hidden">
                        </div>

                        <p style="margin-bottom:2rem; font-size: 1.25rem; font-style: italic;">OR</p>
                        <p>Upload a CSV file wherein the first column contains texts for bulk analysis.</p>

                        <!-- FILE UPLOAD -->
                        <form id="fileForm" class="bottom" action="/" method="post" enctype="multipart/form-data">
                            <div class="upload">
                                <input type="file" name="file">
                                <input type="submit" value="Upload CSV">
                            </div>
                        </form>

                        <!-- CSV results -->
                        <div id="csvResult" class="results bottom hidden">
                            <!-- CSV summary -->
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- FOOTER -->
        <footer>
            <p class="copyright">&copy; 2024 Dmitry Dohy for WGU. Background from <a href="https://www.vecteezy.com/free-videos/abstract">Vecteezy</a>.</p>
        </footer>

        <!-- BG -->
        <div id="bg"></div>

        <!-- SCRIPTS -->
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='AJAX.js') }}"></script>

    </body>
</html>
