<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
</head>
<body>
<h1>Sentiment Analysis</h1>

<!-- Display errors if any -->
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<!-- File Upload Form -->
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload CSV">
</form>

<!-- Text Input Form -->
<form action="/" method="post">
    <input type="text" name="text_input" placeholder="Enter text for sentiment analysis">
    <input type="submit" value="Analyze Text">
</form>

<!-- Display text analysis result -->
{% if input_text %}
<h2>Result</h2>
<p>Input Text: {{ input_text }}</p>
<p>This text appears to be {{ predicted_rating_text }}.</p>
{% endif %}

<!-- Display CSV analysis results -->
{% if avg_sentiment %}
<h2>CSV Analysis Summary</h2>
<p>This file contains mostly {{ avg_sentiment }} reviews.</p>
<p>Here's a positive review: {{ example_positive_review }}</p>
<p>And here's a negative one: {{ example_negative_review }}</p>
<p>For a detailed report, please download and review the following csv:</p>

<!-- Download CSV button -->
<form action="/download_predictions" method="post">
    <input type="hidden" name="predictions_csv" value="{{ predictions_csv }}">
    <input type="submit" value="Download Predictions CSV">
</form>
{% endif %}
</body>
</html>
